// Colors
$accent-color: #301d00;
$brand-color: #d1c0a5;
$base-color: #e3e3e3;
$text-color: black;

// Border
$border-radius: 20px;

// Responsive
$max-width: 1280px;
$mobile-width: 600px;
$content-padding-x: 100px;
$content-padding-y: 50px;